neo4j-community-5.18.1/
/.venv/
/.env
/lightrag_storage/
/tmp_data/app.db*
model/chinese-roberta-wwm-ext/
model/best_roberta_rnn_model_ent_aug.pt
__pycache__/
.pytest_cache/
.DS_Store
assets/img/.DS_Store
